@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Overpass;
  background-color:  #131518;
  padding: 154px 24px 153px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media only screen and (min-width: 1140px) {
body{
  padding-top: 195px;
}
}